<a href="https://colab.research.google.com/github/hansneddyanto/Fintech/blob/main/Fintech_sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install newsapi-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting newsapi-python
  Downloading newsapi_python-0.2.6-py2.py3-none-any.whl (7.9 kB)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.7/dist-packages (from newsapi-python) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->newsapi-python) (1.24.3)
Installing collected packages: newsapi-python
Successfully installed newsapi-python-0.2.6

In [ ]:
from newsapi import NewsApiClient
import pandas as pd

In [ ]:
api = NewsApiClient(api_key='365669e91dce4d7ba87f004635831eec')

In [ ]:
nasdaq = pd.read_csv("nasdaq_screener.csv")

In [ ]:
nasdaq

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$133.55,1.60,1.213%,3.989246e+10,United States,1999.0,865778,Industrials,Electrical Products
1,AA,Alcoa Corporation Common Stock,$52.76,-0.51,-0.957%,9.492679e+09,NaN,2016.0,4261157,Industrials,Metal Fabrications
2,AAL,American Airlines Group Inc. Common Stock,$15.25,0.26,1.734%,9.910150e+09,United States,NaN,21114761,Consumer Discretionary,Air Freight/Delivery Services
3,AAON,AAON Inc. Common Stock,$61.72,0.67,1.097%,3.275553e+09,United States,NaN,200322,Industrials,Industrial Machinery/Components
4,AAP,Advance Auto Parts Inc.,$202.53,5.11,2.588%,1.228138e+10,United States,NaN,530350,Consumer Discretionary,Auto & Home Supply Stores
...,...,...,...,...,...,...,...,...,...,...,...
1990,ZNH,China Southern Airlines Company Limited Common...,$27.16,0.19,0.704%,9.206405e+09,China,1997.0,8733,Consumer Discretionary,Air Freight/Delivery Services
1991,ZS,Zscaler Inc. Common Stock,$182.64,3.93,2.199%,2.590980e+10,United States,2018.0,1667742,Technology,EDP Services
1992,ZTO,ZTO Express (Cayman) Inc. American Depositary ...,$26.00,-0.07,-0.269%,2.105306e+10,China,2016.0,1054876,Consumer Discretionary,Advertising
1993,ZTS,Zoetis Inc. Class A Common Stock,$175.67,2.49,1.438%,8.267534e+10,United States,2013.0,1185188,Health Care,Biotechnology: Pharmaceutical Preparations
1994,ZWS,Zurn Elkay Water Solutions Corporation Common ...,$31.16,0.86,2.838%,5.538589e+09,United States,2012.0,600780,Utilities,Environmental Services

In [ ]:
nasdaq_name_100 = nasdaq['Name'][0:100]
nasdaq_name_100.tolist()
nasdaq_name_100

0                Agilent Technologies Inc. Common Stock
1                       Alcoa Corporation Common Stock
2             American Airlines Group Inc. Common Stock
3                                AAON Inc. Common Stock
4                               Advance Auto Parts Inc.
                            ...
95    AMC Entertainment Holdings Inc. Class A Common...
96                            Amcor plc Ordinary Shares
97             Advanced Micro Devices Inc. Common Stock
98                                          AMETEK Inc.
99                            Amedisys Inc Common Stock
Name: Name, Length: 100, dtype: object

In [ ]:
for ele in nasdaq_name_100:
  api.get_everything(q=ele)

NewsAPIException: ignored

In [ ]:
api.get_everything(q='AAPL')

NewsAPIException: ignored

In [ ]:
# /v2/everything
all_articles = api.get_everything(q='bitcoin',
                                      sources='bbc-news,the-verge',
                                      domains='bbc.co.uk,techcrunch.com',
                                      from_param='2017-12-01',
                                      to='2017-12-12',
                                      language='en',
                                      sort_by='relevancy',
                                      page=2)